[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
og-client = {git = "https://github.com/One-Green/og-py-openapi-client.git"}
influxdb-client = {extras = ["ciso"], version = "*"}
plotly = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
